<!doctype html>
<html lang="id"><head><meta charset="utf-8"><link rel="stylesheet" href="base.css"></head>
<body><div class="page">
<div class="bar"><div class="label"><div class="dot"></div>{{Label}}</div><div class="handle">@emmawt21</div></div>
<div class="title"><div class="sorotan">{{Sorotan}}</div><div>{{Judul}}</div></div>
<p class="sub">{{Subjudul}}</p>
<div class="list">
<div class="item"><div class="box">%CHECK%</div><div class="txt">{{Poin 1}}</div></div>
<div class="item"><div class="box">%CHECK%</div><div class="txt">{{Poin 2}}</div></div>
<div class="item"><div class="box">%CHECK%</div><div class="txt">{{Poin 3}}</div></div>
<div class="item"><div class="box">%CHECK%</div><div class="txt">{{Poin 4}}</div></div>
<div class="item"><div class="box">%CHECK%</div><div class="txt">{{Poin 5}}</div></div>
</div>
<div class="bar foot"><div>Simpan biar gak lupa</div>%BOOKMARK%</div>
</div></body></html>
