<!doctype html>
<html lang="id"><head><meta charset="utf-8"><link rel="stylesheet" href="base.css"></head>
<body><div class="page uc">
<div class="bar"><div class="label"><div class="dot"></div>{{Label}}</div><div class="handle">@emmawt21</div></div>
<div class="title"><div class="sorotan">{{Sorotan}}</div><div>{{Judul}}</div></div>
<p class="sub">{{Subjudul}}</p>
%IF Rumus%<div class="formula"><div class="cap">RUMUS</div><code>{{Rumus}}</code></div>%END%
<div class="row2 r-contoh">
<div class="sheet c1">
<div class="cl"></div><div class="cl end">A</div>
<div class="rn">1</div><div class="hd end">{{Label kiri}}</div>
<div class="rn">2</div><div class="old end">{{Kiri 1}}</div>
<div class="rn">3</div><div class="old end">{{Kiri 2}}</div>
<div class="rn">4</div><div class="old end">{{Kiri 3}}</div>
<div class="rn last">5</div><div class="old last end">{{Kiri 4}}</div>
</div>
<div class="arrow">%ARROW%</div>
<div class="sheet c1">
<div class="cl"></div><div class="cl end">B</div>
<div class="rn">1</div><div class="hd end">{{Label kanan}}</div>
<div class="rn">2</div><div class="hit end">{{Kanan 1}}</div>
<div class="rn">3</div><div class="hit end">{{Kanan 2}}</div>
<div class="rn">4</div><div class="hit end">{{Kanan 3}}</div>
<div class="rn last">5</div><div class="hit last end">{{Kanan 4}}</div>
</div>
</div>
%IF Tips%<div class="tips"><b>Tips:</b> {{Tips}}</div>%END%
<div class="bar foot"><div>Simpan biar gak lupa</div>%BOOKMARK%</div>
</div></body></html>
