<!doctype html>
<html lang="id"><head><meta charset="utf-8"><link rel="stylesheet" href="base.css"></head>
<body><div class="page uc">
<div class="bar"><div class="label"><div class="dot"></div>{{Label}}</div><div class="handle">@emmawt21</div></div>
<div class="title"><div class="sorotan">{{Sorotan}}</div><div>{{Judul}}</div></div>
<p class="sub">{{Subjudul}}</p>
<div class="phrase"><div class="en">{{*Poin 1}}</div><div class="idn">{{Poin 2}}</div></div>
<div class="cap2">CONTOH PEMAKAIAN</div>
<div class="ex"><div>{{*Poin 3}}</div><div>{{*Poin 4}}</div><div>{{*Poin 5}}</div></div>
%IF Tips%<div class="tips"><b>Tips:</b> {{Tips}}</div>%END%
<div class="bar foot"><div>Simpan biar gak lupa</div>%BOOKMARK%</div>
</div></body></html>
