<!doctype html>
<html lang="id"><head><meta charset="utf-8"><link rel="stylesheet" href="base.css"></head>
<body><div class="page uc">
<div class="bar"><div class="label"><div class="dot"></div>{{Label}}</div><div class="handle">@emmawt21</div></div>
<div class="title"><div class="sorotan">{{Sorotan}}</div><div>{{Judul}}</div></div>
<p class="sub">{{Subjudul}}</p>
<div class="formula"><div class="cap">POLA</div><code>{{Rumus}}</code></div>
<div class="pat">
<div class="r"><div class="k">{{Kiri 1}}</div><div class="v">{{*Kanan 1}}</div></div>
<div class="r"><div class="k">{{Kiri 2}}</div><div class="v">{{*Kanan 2}}</div></div>
<div class="r"><div class="k">{{Kiri 3}}</div><div class="v">{{*Kanan 3}}</div></div>
<div class="r"><div class="k">{{Kiri 4}}</div><div class="v">{{*Kanan 4}}</div></div>
</div>
%IF Tips%<div class="tips"><b>Tips:</b> {{Tips}}</div>%END%
<div class="bar foot"><div>Simpan biar gak lupa</div>%BOOKMARK%</div>
</div></body></html>
